body{
	background-color: #660000;
 }

 .wrapper{
 	position: relative;
 	top: .5em;
 	background-color: lightgrey;
 	margin-right: auto;
 	margin-left: auto;
    max-width:1850px;
    height: 90%;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
 }

footer{
	background-color: #282a35;
	color: white;
	margin-right: auto;
    margin-left: auto;
    max-width:1850px;
  	padding-top: 10px;
  	padding-right: 20px;
  	padding-left: 20px;
  	padding-bottom: 10px;
}
.login{
	background-color: #660000;
	color: white;
	max-width: 200px;
	padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	max-width: 3050px;

}

li{
	display: inline;
	float: left;
}

li a{
	display: block;
	padding: 8px;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 14px 16px;
}

li a:hover:not(.active) {
  background-color: #660000;
  color: white;
}
.active {
  background-color: #333;
  color: white;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body{
		background-color: black;
	}
	.login{
		display: none;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body{
		background-color: blue;
	}
	.login{
		width: 60%;
		position: relative;
		left: 20.5em;
		bottom:5.6em;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body{
		background-color: green;
	}
	.login{
		position: relative;
		left: 30.8em;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body{
		background-color: yellow;
	}
	.login{
		position: relative;
		left: 45em;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body{
		background-color: mistyrose;
	}
	.login{
		position: relative;
		left: 58em;
	}
}
/* Extra large devices (large laptops and desktops, 1366px and up) */
@media only screen and (min-width: 1366px) {
	body{
		background-color: darkorchid;
	}
	.login{
		position: relative;
		left: 68.5em;
	}
}
/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
	body{
		background-color: darkorange;
	}
	.login{
		position: relative;
		left: 72.8em;
	}
}
/* Extra large devices (large laptops and desktops, 1680px and up) */
@media only screen and (min-width: 1680px) {
	body{
		background-color: purple;
	}
	.login{
		position: relative;
		left: 87.8em;
	}
}
/* Extra large devices (large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
	body{
		background-color: gold;
	}
	.login{
		position: relative;
		left: 101.9em;
	}
}


